/*-----------------------layout-----------------------*/
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(67, 43, 29);
 
  color: #f58013;
  margin-left: 1%;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}
.logo{
  display: flex;
   flex-direction: row;

}
.accountBtns{
  display: flex;
  flex-direction: row;
  margin-left: 500px;


}

.container{
  background-color: rgb(38, 20, 6);



}
header{
  display: flex;
}


.menu{
  border: 1em solid #f58013;
  width: 50%;
  display: inline-block;
  border-radius: 8%;
}
.summary{
  width: 45%;
  float: right;
  border: 1em solid #f58013;
  border-radius: 10%;
}
.size{
  margin-top: 15px;
}

/*-----------------------forms----------------------*/

.info{
  margin-top: 10px;
  font-size: 15px ;


}



/*-----------------------elements-----------------------*/

.btn{
  color:rgb(38, 20, 6);
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10%;
 
    background-color: #f58013;

    text-decoration: none;

    text-align: center;
    margin: 15px 10px 0 0;
    width: 150px;
    border: .7em solid rgb(67, 43, 29);
}


legend{
  color: whitesmoke;


}
label{
  font-weight: bolder;
  font-size: 15px;
}
h1{
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  color: whitesmoke;
}
.signH1, .logH1{
  color: #f58013;

}
h2{
text-align: center;
}
h3{
text-decoration: underline;
}
p{
color: white;
font-size: 25px;
font-weight: bold;
}

img {
  width: 319px;
  height: 170px;
}
.btnBottom{
  margin-bottom: 10px;
}
a{
  color:#f58013
}
.autLab{
  text-align: none;
}