*{
  box-sizing: border-box;
}
body{
  background-color: rgb(38, 20, 6);
 
  color: #f58013;
  margin-left: 1%;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

header{
  display: flex;
}
h2{
  color: #f58013;
}
li{
  color: whitesmoke;
  list-style-type: none;
  font-size: 18px;
}
.results{
  display: flex;
}
.row{
  border: 1em solid #f58013;
  display: flex;
  width: 45%;
  display: inline-block;
  flex-direction: row;
}
.col-sm-6{
  border: 1em solid #f58013;
  display: flex;
  width: 45%;
  flex-direction: row;
}

.logo{
  display: flex;
   flex-direction: row;

}
.accountBtns{
  display: flex;
  margin-left: 700px;
  flex-direction: row;
  font-size: 20px;
}

a{
  color:#f58013;
  flex: 2;
}

img {
  width: 319px;
  height: 170px;
}

h1{
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: whitesmoke;
}

